<form autocomplete="off" #editViajeForm="ngForm" (ngSubmit)="save()">
  <h2 mat-dialog-title>{{ "Editar viaje" | localize }}</h2>
  <mat-dialog-content >
    <div class="row-fluid">
          <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                name="Name"
                [placeholder]="'Destino' | localize"
                [(ngModel)]="viaje.destino"
                required
                minlength="2"
                maxlength="32"
              />
            </mat-form-field>    
            <mat-form-field class="example-full-width">
              <input required name="fechaInicio"  [formControl]="fechaInicioView"
               matInput [min]="minDateInicio" [max]="maxDateInicio" 
              [matDatepicker]="picker" placeholder="Fecha de Inicio" 
              (dateInput)="addEventFechaInicio('input', $event)" (dateChange)="addEventFechaInicio('change', $event)"
              >
              <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
             </mat-form-field>   
            
             <mat-form-field class="example-full-width">
              <input required name="fechaFin"    [formControl]="fechaFinView"
              matInput [min]="minDateFin" [max]="maxDateFin" 
              [matDatepicker]="pickerFin" placeholder="Fecha de Fin" 
              (dateInput)="addEventFechaFin('input', $event)" (dateChange)="addEventFechaFin('change', $event)"
              >
              <mat-datepicker-toggle matSuffix [for]="pickerFin" ></mat-datepicker-toggle>
              <mat-datepicker #pickerFin></mat-datepicker>
            </mat-form-field>     
            <mat-form-field>
              <input
                matInput
                name="Responsable"
                [placeholder]="'Responsable' | localize"
                [(ngModel)]="viaje.responsable"
                required                 
              />
            </mat-form-field>    
                               
          </div>
    </div>  
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!editViajeForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
