<div class="row clearfix" [@routerTransition]>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card main-content">
          <div class="header">
              <h2>{{ "Viaje" | localize }}</h2>
              <ul class="header-dropdown m-r--5">
                  <li>
                      <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
                          <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #headerMenu="matMenu">
                          <button mat-menu-item (click)="getViajes()">
                              <mat-icon>refresh</mat-icon>
                              <span>{{ "Refresh" | localize }}</span>
                          </button>
                      </mat-menu>
                  </li>
              </ul>
          </div>
          <div class="body table-responsive">
              <!--query start-->
              <div class="row clearfix">
                  <form>
                      <mat-form-field>
                          <input matInput [placeholder]="l('Filter')" [(ngModel)]="keyword" name="keyword">
                      </mat-form-field>

                      <div class="row">
                          <div class="col-md-12 text-right p-r-25">
                              <button mat-raised-button color="primary" (click)="getViajes()">{{ 'Search' | localize }}</button>
                          </div>
                      </div>
                  </form>
              </div>
              <!--query end-->
              <table class="table table-hover table-striped" [busy]="isTableLoading">
                  <thead>
                      <tr>
                          <th>{{ "Estado" | localize }}</th>
                          <th>{{ "Destino" | localize }}</th>                       
                          <th>{{ "Fecha de inicio" | localize }}</th>   
                          <th>{{ "Fecha de fin" | localize }}</th>                          
                          <th>{{ "Responsable" | localize }}</th>                             
                          <th>{{ "Actions" | localize }}</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="
              let viaje of (viajes
                | paginate
                  : {
                      id: 'server',
                      itemsPerPage: pageSize,
                      currentPage: pageNumber,
                      totalItems: totalItems
                    })
            ">
                          <td>{{ viaje.estado.nombre }}</td>    
                          <td>{{ viaje.destino }}</td>
                          <td>{{ viaje.fechaInicio | date:'d/M/y'}}</td>           
                          <td>{{ viaje.fechaFin | date:'d/M/y'}}</td>      
                          <td>{{ viaje.responsable }}</td>         
                          <td>
                            <button  *ngIf=desabilitarAction(viaje.estadoId) class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                <mat-icon>menu</mat-icon>
                            </button>       
                            <button  *ngIf=!desabilitarAction(viaje.estadoId) disabled class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                              <mat-icon>menu</mat-icon>
                            </button>        
                              <mat-menu #actionsMenu="matMenu">
                                  <button mat-menu-item (click)="editViaje(viaje)">                                
                                        <i class="material-icons">edit</i>
                                        <span>{{ "Edit" | localize }}</span>
                                  </button>  
                                  <button *ngIf=ocultarCargarViaje(viaje.estadoId) mat-menu-item (click)="cargarViaje(viaje)">
                                    <i class="material-icons">add_shopping_cart</i>
                                    <span>{{ "Cargar viaje" | localize }}</span>
                                  </button>         
                                  <button *ngIf=ocultarIniciarViaje(viaje.estadoId) mat-menu-item (click)="iniciarViaje(viaje)">
                                    <i class="material-icons">flight_takeoff</i>
                                    <span>{{ "Iniciar viaje" | localize }}</span>
                                  </button>                                
                                  <button *ngIf=ocultarFinalizarViaje(viaje.estadoId) mat-menu-item (click)="finalizarViaje(viaje)">
                                        <i class="material-icons">flight_land</i>
                                    <span>{{ "Finalizar viaje" | localize }}</span>
                                </button>                               
                              </mat-menu>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                  <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                  </abp-pagination-controls>
              </div>
              <button mat-mini-fab color="primary" class="pull-right" (click)="createViaje()">
                  <mat-icon>add</mat-icon>
              </button>
          </div>
      </div>
  </div>
</div>

