<form autocomplete="off" #createContenedorForm="ngForm" (ngSubmit)="save()">
  <h2 mat-dialog-title>{{ "Create New Contenedor" | localize }}</h2>
  <mat-dialog-content >
    <div class="row-fluid">
          <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                name="Name"
                [placeholder]="'Nombre' | localize"
                [(ngModel)]="contenedor.nombre"
                required
                minlength="2"
                maxlength="32"
              />
            </mat-form-field>     
          
          </div>
    </div>  
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createContenedorForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
